<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=testalok1;AccountKey=aTFY71HvLylGnUCjy4zYSoPnTMb21sP6KEhDGjxEAZnLs1zqR4/s0ftMsnSrGMuqu4ISeISh6dH1kt1xLu8A3g==;EndpointSuffix=core.windows.net" />
</appSettings>
</configuration>